@import url(ststyle.css);

#corpo3{
    background-color: rgb(97, 3, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_fundo{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    width: 500px;
}
#btn_login:hover{
    background-color: darkgreen;
    color:white;
}

#titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aliceblue;
}


#btn_login{
    background-color: black;
    color:aliceblue;
    cursor: pointer;
    width: 20%;
    height:25px;
    border-radius: 20px;
}

#usuarioFundo{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    width: 500px;
    overflow-y: scroll;

}

#usuariosCad{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aliceblue;
}

#linha{
    width: 80%;
    height: 8px;
    border: 1px dashed darkred;
}

#excluir{
    width: 20%;
    height:25px;
    color:aliceblue;
    background-color: black;
    box-shadow: 2px 2px 2px red;
    border-radius: 20px;
    
}

#excluir:hover{
    background-color: darkred;
    color:black;
    cursor: pointer;
}

#btnExcluir{
    display: flex;
    justify-content: center;
    
}
