@charset "UTF-8";

#corpo{
    background-color: rgb(67, 67, 214);
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding-top: 100px;
    margin: 0;
   
}

#corpo2{
    background-color: rgb(67, 67, 214);
}

#form_fundo{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    width: 500px;
}

#btn_login{
    background-color: black;
    color:aliceblue;
    cursor: pointer;
    width: 18%;
    height:25px;
    border-radius: 20px;
}

#btn_login:hover{
    background-color: aliceblue;
    color:black;
}


label{
    font-size:20px;
    font-weight: bold;
}

input{
    border-radius: 18px;
    font-size: 17px;
}

.flash_alerta{
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    border-radius: 20px;
    text-align: center;
    width: 18%;
    height: 40px;
    box-shadow: 5px 5px black;
    
}

