<!DOCTYPE html>
<html>

<head>
    <title>formulário</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/ststyle.css">
</head>

<body>

    <div id="form_fundo">
        <h1>Login</h1>
        <h1></h1>
        <div id="form_frente">
            <form action="/login" id="login" method="post">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" required placeholder="digite seu nome aqui">
                <br>
                <label for="senha" id="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required placeholder="digite sua senha aqui">
                <br>
                <br>
                <button type="submit" id="btn_login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>ENTRAR
                </button>


            </form>
        </div>
    </div>



</body>


</html>